<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.smart.meals" android:versionName="1.5" android:installLocation="auto" android:versionCode="6">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:label="SmartMeal.Droid" android:icon="@drawable/Heart"></application>
</manifest>